html,
body {
  padding: 0;
  margin: 0;
  background-color: black;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
.blog{
  /* From https://css.glass */
/* background: rgba(255, 255, 255, 0.1); */
/* background: rgb(6, 107, 87, 0.5); */
/* background-image: url('../components/blog/blogdesign.jpg'); */
background-color: #0a131c;
background-size: cover;
/* filter: brightness(80%); */
/* border-radius: 16px; */
/* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5); */
box-shadow: 0 4px 17px rgba(255, 255, 255, 0.5);
backdrop-filter: blur(7px);
-webkit-backdrop-filter: blur(7px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
.navbtn{
  box-shadow: -3px -2px 5px rgba(255, 255, 255, 0.5);
backdrop-filter: blur(7px);
-webkit-backdrop-filter: blur(7px);
}
.table{
  /* background-image: url('../components/blog/blogdesign.jpg'); */
  background-color: #0a131c;
}
.blog2{
  /* From https://css.glass */
/* background: rgba(255, 255, 255, 0.1); */
/* background: rgb(6, 107, 87, 0.5); */
/* background-image: url('../components/blog/blogdesign.jpg'); */
/* filter: brightness(80%); */
/* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5); */
box-shadow: 0 1px 5px rgba(255, 255, 255, 0.5);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
.footer{
  background: #0a131c;
}
.sidenavglass{
/* background: rgb(6, 107, 87, 0.3); */
background: rgb(84, 138, 182, 0.3);
border-radius: 16px;
/* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5); */
/* box-shadow: 0 4px 17px rgba(255, 255, 255, 0.5); */
backdrop-filter: blur(7px);
-webkit-backdrop-filter: blur(7px);
border-bottom: 1px solid rgba(255, 255, 255, 0.3);
border-top: 1px solid rgba(255, 255, 255, 0.3);
border-left: 1px solid rgba(255, 255, 255, 0.3);
border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.dtext:hover ~ .dcol{
  width: 90%;
}
th, td{
  color: white;
  padding: 10px;
  font-family: 'roboto', sans-serif;
}

/* table{
  width: 60%;
} */
tr{
  height: 60px;
  cursor: pointer;
}
.about{
  background-image: url('../components/about/fabio.jpg');
  background-size: cover;
  background-repeat: no-repeat; 

}
.rightsection{
  background-image: url('../components/../images/undraw-team.svg');
  background-size: cover;
  background-repeat: no-repeat; 
  filter: opacity(0.4);
 
}

/* font-family: 'Montserrat', sans-serif; */
@tailwind base;
@tailwind components;
@tailwind utilities;
