/* global styles */
/* colors: black, white, #6f2c21(saddlebrown), #066b57(teal) */

.container{
  height: 100vh;
  width: 100vw;
}

/* @media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
} */
